@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

@primary-color: #1464e8; // 全局主色
@link-color: #1464e8; // 链接色
@success-color: #52c41a; // 成功色
@warning-color: #faad14; // 警告色
@error-color: #f5222d; // 错误色
@font-size-base: 14px; // 主字号
@heading-color: rgba(0, 0, 0, 0.85); // 标题色
@text-color: rgba(0, 0, 0, 0.65); // 主文本色
@text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
@disabled-color: rgba(0, 0, 0, 0.25); // 失效色
@border-radius-base: 4px; // 组件/浮层圆角
@border-color-base: #d9d9d9; // 边框色
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // 浮层阴影
.saas_global {
  .ant-btn {
    border-radius: 4px;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 4px !important;
  }
  .ant-table-cell {
    .ant-btn-link {
      //font-size: 12px;
      padding: 0 3px;
    }
  }
  .ant-picker.ant-picker-range {
    border-radius: 4px;
  }
  .ant-input {
    border-radius: 4px;
  }
  .ant-radio-group {
    .ant-radio-button-wrapper:first-child {
      border-radius: 4px 0 0 4px;
    }
    .ant-radio-button-wrapper:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
  // 表格样式
  .ant-table-thead > tr > th {
    background-color: #f4f4f4;
    color: #333333;
    line-height: 16px;
    font-weight: 500;
  }

  .ant-table-tbody > tr > td {
    background-color: #ffffff;
    color: #333333;
    line-height: 16px;
    padding: 9px 16px;
  }
  .ant-table-footer {
    background-color: #fff;
  }
}
.ant-select-dropdown {
  .ant-select-item-option {
    margin: 2px 8px;
    border-radius: 4px;
  }
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled),
  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    font-weight: 500;
    color: #1464e8;
  }
}
.ant-modal-content {
  .ant-modal-body {
    padding: 16px;

    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      border-radius: 4px !important;
    }

    .ant-input {
      border-radius: 4px;
    }
  }
}
